{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/bootstrap-social.css' %}">

    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header id="header">
      <div class="container">        
          <div id="logo" class="pull-left">
            <h1><a href="{% url 'blog-home' %}" class="scrollto">Gaming</a></h1>
          </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="{% url 'blog-home' %}">Home</a></li>
              <li><a href="{% url 'blog-about' %}">About Us</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              {% if user.is_authenticated %}
                <li><a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a></li>
                <li><a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
                <li><a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-item nav-link" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
          </nav>
      </div>
    </header>
    <main role="main" class="container pt-5">
      <div class="row">
        <div class="col my-2">
          <form class="input-group" method="GET" action="{% url 'search-posts' %}" id="searchform">
            <input class="form-control ds-input" id="searchbox" type="text" name="q" placeholder="Search..." aria-label="Search" value="{{ request.GET.q }}">
          </form>
        </div>
        <div class="col-6">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>